/* ---------------------------------------------------- */
/* ----- HEADER ----- */
/* ---------------------------------------------------- */

.header {
  &-top {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 36px;
    color: $white;
    font-size: rem(11px);

    &::before {
      content: '';
      display: block;
      position: absolute;
      background-color: $seasoned-tar;
      width: 100vw;
      height: inherit;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;
    }

    &__phone {
      display: inline-flex;
      padding-right: rem(44px);

      &::before {
        content: url("../images/phone.svg");
        display: inline-flex;
        position: relative;
        left: 0;
        width: 11px;
        margin-right: rem(7px);
      }
    }

    &__email {
      display: inline-flex;
      padding-right: rem(40px);

      &::before {
        content: url("../images/envelope.svg");
        display: inline-flex;
        position: relative;
        left: 0;
        width: 11px;
        margin-right: rem(7px);
      }
    }

    &__fb {
      display: inline-flex;

      &::before {
        content: url("../images/facebook.svg");
        display: inline-flex;
        position: relative;
        left: 0;
        width: 11px;
        margin-right: rem(7px);
      }
    }
  }

  &-center {
    display: block;

    &::before {
      content: '';
      background-image: url("../images/header-bg-top.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      width: 100vw;
      min-height: 95px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;
    }

    &-ctn {
      display: flex;
      position: relative;
      padding: rem(23px 0 27px);
    }

    &__logo, &__search, &__shopping {
      width: calc(100% / 3);
    }

    &__search {
      display: flex;
      align-items: center;

      &-input {
        width: 284px;
        height: 50px;
        padding: rem(15px);
        font-size: rem(13px);
        border-color: transparent;
      }
      &-btn {
        background-color: $seasoned-tar;
        line-height: 50px;
        width: 50px;
        cursor: pointer;

        &--icon {
          color: $white;
          font-size: rem(16px);
        }
      }
    }

    &__shopping {
      display: flex;
      align-items: center;
      color: #231f20;
      position: relative;

      &-lang {
        display: inline-flex;
        align-items: center;

        &::before {
          content: 'PL';
          display: inline-flex;
          font-family: $font-second;
          font-size: rem(12px);
          font-weight: bold;
          position: relative;
          top: 2px;
          padding-right: rem(8px);
          margin-right: rem(15px);
        }

        &::after {
          content: '';
          border-style: solid;
          border-color: #231f20;
          display: inline-block;
          position: relative;
          vertical-align: top;
          transform: rotate(135deg);
          border-width: 1px 1px 0 0;
          width: 8px;
          height: 8px;
          top: -2px;
          left: 8px;
          transition: all .2s ease;
        }
      }

      &-flag {
        width: 20px;
      }

      &-account {
        margin-left: rem(23px);

        &__anchor {
          display: block;
          text-transform: uppercase;
          font-size: rem(13px);
          font-family: $font-second;
          font-weight: bold;
          margin-left: rem(18px);
        }

        &::before {
          content: '';
          background: #d7d7d7;
          width: 1px;
          height: 33px;
          display: inline-block;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          cursor: pointer;
        }
      }

      &-cart {
        position: absolute;
        top: -59px;
        right: 0;
      }
    }
  }

  &-nav {
    display: flex;
  }

  &-bottom {
    position: relative;
    height: 33px;

    &::before {
      content: '';
      position: absolute;
      background-image: url("../images/header-bg-breadcrumb.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      width: 100vw;
      height: 33px;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;
    }
  }

  &-breadcrumb {
    display: flex;
    align-items: center;
    padding-top: rem(11px);

    &__item {
      font-size: rem(11px);
      padding-right: rem(36px);
    }
  }
}


.btn-toggle {
  position: absolute;
  top: 18px;
  right: rem(20px);
  z-index: 4;

  &:hover .hamburger__line {
    background-color: $seasoned-tar;
  }

  @media #{$mobile_land__640} {
    right: rem(40px);
  }

  @media #{$tablet__768} {
    right: rem(60px);
  }

  @media #{$tablet_land__1024} {
    top: 22px;
  }

  @media #{$desktop__1280} {
    display: none;
  }
}

.hamburger {
  width: 22px;
  height: 14px;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;

  &__line {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: $seasoned-tar;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2) {
      @extend %hamburger__line--nth;
    }

    &:nth-child(3) {
      @extend %hamburger__line--nth;
    }

    &:nth-child(4) {
      top: 12px;
    }
  }
}

.btn-toggle--toggled {
  .hamburger__line:nth-child(1) {
    top: 6px;
    width: 0;
    left: 50%;
  }

  .hamburger__line:nth-child(2) {
    transform: rotate(45deg);
    background-color: $seasoned-tar;
  }

  .hamburger__line:nth-child(3) {
    transform: rotate(-45deg);
    background-color: $seasoned-tar;
  }

  .hamburger__line:nth-child(4) {
    top: 6px;
    width: 0;
    left: 50%;
  }
}

.nav-menu {
  max-height: 0;
  overflow: hidden;
  transition: 0.5s max-height;
  position: absolute;
  top: 51px;
  left: 0;
  width: 100%;
  z-index: 3;

  @media #{$tablet_land__1024} {
    top: 59px;
  }

  @media #{$desktop__1280} {
    overflow: visible;
    top: auto;
    position: relative;
    box-shadow: none;
    max-height: 100%;
    transition: none;
    transition-duration: 0s;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    background: transparent;
  }

  .menu--show & {
    max-height: 900px;
    overflow-y: auto;

    @media #{$tablet_land__1024} {
      overflow: visible;
    }

    @media #{$desktop__1280} {
      overflow-y: auto;
    }
  }
}

.menu {
  display: flex;
  flex-direction: column;

  &__item {

    &--dropdown {
      position: relative;
    }

    &:nth-child(3) {
      position: relative;
    }
  }

  @media #{$tablet_land__1024} {
    margin-top: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: rem(55px);

    @media #{$desktop__1280} {
      margin-left: 0;
    }
  }

  &-submenu {
    display: none;

    &--show {
      display: block;
      background-color: #f4f4f4;

      @media #{$tablet_land__1024} {
        position: absolute;
        left: 33%;
        transform: translateX(-33%);
        z-index: 2;
        width: 230px;
        margin-top: rem(9px);

        @media #{$desktop__1280} {
          left: 50%;
          transform: translateX(-50%);
          width: 277px;
          margin-top: rem(19px);
        }

        @media #{$large__screens__1440} {
          margin-top: rem(18px);
        }

        @media #{$full__screens__1600} {
          margin-top: rem(11px);
        }

        @media #{$HD__screens__1920} {
          margin-top: rem(29px);
        }
      }
    }

    &__item {
      padding: rem(20px);

      @media #{$mobile_land__640} {
        padding: rem(20px 40px);
      }

      @media #{$tablet__768} {
        padding: rem(20px 60px);
      }

      @media #{$tablet_land__1024} {
        padding: rem(20px);
      }

      &:hover {
        color: $white;
      }
    }

    &__link {
      display: block;
      font-size: rem(18px);
    }
  }

  &-dropdown {
    display: none;

    &--show {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    @media #{$mobile_land__640} {
      flex-direction: row;
    }

    @media #{$tablet_land__1024} {
      flex-direction: column;
      align-items: stretch;
      width: 100%;
      position: absolute;
    }

    &__item {
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      @media #{$mobile_land__640} {
        justify-content: space-around;
        width: calc(100% / 2);
      }

      @media #{$tablet__768} {
        justify-content: space-evenly;
      }

      @media #{$tablet_land__1024} {
        justify-content: space-around;
        width: 100%;
      }

      @media #{$HD__screens__1920} {
        justify-content: space-around;
      }

      &:first-child {
        background-color: rgba(17, 68, 123, 1);
      }

      &:last-child {
        background-color: rgba(11, 42, 77, 1);
      }
    }

    &__link {
      color: $white;
      display: flex;
      align-items: center;

      @media #{$tablet_land__1024} {
        padding: 0;
      }

      @media #{$HD__screens__1920} {
        width: 100%;
        position: relative;
      }

      &--mobile {
        padding-left: rem(8px);

        @media #{$mobile_land__640} {
          padding-left: 0;
        }
      }
    }
  }

  &__link {
    display: block;
    padding: rem(20px);
    text-align: center;
    text-decoration: none;
    font-size: rem(13px);
    color: $black;
    position: relative;

    @media #{$tablet_land__1024} {
      padding: rem(15px);
    }

    @media #{$large__screens__1440} {
      padding: rem(20px);
    }

    @media #{$full__screens__1600} {
      padding: rem(25px);
    }

    &--space {
      @media #{$tablet_land__1024} {
        padding-right: 0;
      }
    }

    &::before,
    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      height: 3px;
      width: 0;
      bottom: 0;
      background-color: $punch;
      transition: 0.4s ease-out all .1s;
      transform-origin: center;
    }

    &::before {
      left: 50%;
    }

    &::after {
      right: 50%;
    }

    &:hover::before,
    &:hover::after {
      width: 25%;
      transition: 0.5s ease all;

      @media #{$mobile_land__640} {
        width: 20%;
      }

      @media #{$tablet_land__1024} {
        width: 50%;
      }
    }

    &:hover::before {
      left: 25%;

      @media #{$mobile_land__640} {
        left: 45%;
      }

      @media #{$tablet_land__1024} {
        left: 50%;
      }
    }

    &:hover::after {
      right: 25%;

      @media #{$mobile_land__640} {
        right: 45%;
      }
      @media #{$tablet_land__1024} {
        right: 50%;
      }
    }

    &.active::before,
    &.active::after {
      content: "";
      display: inline-block;
      position: absolute;
      bottom: 0;
      height: 3px;
      width: 25%;
      background-color: $punch;

      @media #{$mobile_land__640} {
        width: 20%;
      }

      @media #{$tablet_land__1024} {
        width: 50%;
      }
    }

    &.active::before {
      left: 25%;
      @media #{$mobile_land__640} {
        left: 45%;
      }

      @media #{$tablet_land__1024} {
        left: 50%;
      }
    }

    &.active::after {
      right: 25%;

      @media #{$mobile_land__640} {
        right: 45%;
      }
      @media #{$tablet_land__1024} {
        right: 50%;
      }
    }

    &--arrow {

      &::after {
        content: '';
        border-style: solid;
        border-color: inherit;
        display: inline-block;
        position: relative;
        vertical-align: top;
        transform: rotate(135deg);
        border-width: 1px 1px 0 0;
        width: 8px;
        height: 8px;
        top: 2px;
        left: 10px;
        transition: all .2s ease;
      }
    }

  }
}

/* ----- END OF HEADER ----- */

@media #{$mobile_land__640} {
}
@media #{$tablet__768} {
}
@media #{$tablet_land__1024} {
}
@media #{$desktop__1280} {
}
@media #{$large__screens__1440} {
}
@media #{$full__screens__1600} {
}
@media #{$HD__screens__1920} {
}
@media #{$max__screen__2560} {
}