// ----------------------------------------------------
// ----- VARIABLES -----
// ----------------------------------------------------

// --- Font ---
$font-base: 'Montserrat', sans-serif;
$font-second: 'Myriad Pro Regular', sans-serif;
$font-third: 'Lato', sans-serif;
$font-fourth: 'Arial', sans-serif;
$font-fifth: 'Poppins', sans-serif;

// --- Colors ---

$white: #fff;
$black: #000;

$seasoned-tar: #2e2e2e;
$punch: #dc363d;
$sushi: #8dc63f;
$tall-poppy: #b62323;
$mine-shaft: #272626;
$thunderbird: #c41f14;
$dusty-gray: #9d9c9c;
$bon-jour: #e0dcdc;
$mercury: #e1e1e1;
$alto: #d7d7d7;
$persian-red: #ce2e2a;

$red-orange: #ff2d30;
$red-ribbon: #e70943;
$bombay: #B4B8C3;

// --- Animation ---

// --- Media Queries ---
$mobile_land__640: "(min-width: 640px)";
$tablet__768: "(min-width: 768px)";
$tablet_land__1024: "(min-width: 1024px)";
$desktop__1280: "(min-width: 1280px)";
$large__screens__1440: "(min-width: 1440px)";
$full__screens__1600: "(min-width: 1600px)";
$HD__screens__1920: "(min-width: 1920px)";
$max__screen__2560: "(min-width: 1921px) and (max-width: 2560px)";

// ----- END OF VARIABLES -----
